/*head*/
#head {
       height: 64px;
       width: 100px;
/*op*/
border-radius: 50%;

/*background*/
background: #fff;
margin: 0 auto;
margin-bottom: -20px;

/* */
border-bottom: 5px solid #e0e0e0;

z-index: 100;

position: relative;
}