    /*span1{
        color: black;
    }
    span2{
        color:red;
    }*/
    li{
        color:white;
    }
    /*fieldset{
        background-image:url("photo/1984.jpg")
    }*/
    /*label{
        color:greenyellow;
    }*/