body {
            background-image: url("photo/p10.jpg")
        }
        h1 {
            text-align: center;
            color:red;
        }
        h2 {
            margin-left: 36%;
            color: yellow;
        }

        p {
            text-indent: 2px;
            font-size: 16px;
            line-height: 30px;
            color: whitesmoke;
        }
        ins {
            text-indent: 2px;
            font-size: 16px;
            line-height: 30px;
            color: whitesmoke;
        }
        p3 {
            text-indent: 2px;
            font-size: 16px;
            line-height: 30px;
            color: white;
        }

        p2 {
            color:yellow;
           /*background-color: black;*/
        }
        
        img {
            position: relative;
            left: 20%;
            margin-left: -181px;
        }
        span {
            color: yellow;
            /*background-color:aqua*/
        }
        address{
            background:greenyellow;
        }