body {
            background-image: url("photo/p15.jpg")
        }
        h1 {
            text-align: center;
            color:red;
            font-size:35px;
            padding:10px;
            text-transform:capitalize;
        }
        p5:hover,b:hover{
            color:yellow;
        }
        h2 {
            /*margin-left: 36%;*/
            color: yellow;
            text-align:center;
            text-transform:capitalize;
        }

        p {
            text-indent: 2px;
            font-size: 19px;
            line-height: 30px;
            color: whitesmoke;
            text-align:justify;
            /*box-shadow: 0 10px 20px,0 10px 20px;*/
            
        }
        p5{
            font-size: 18px;
            color:white;
        }
        ins {
            text-indent: 2px;
            font-size: 16px;
            line-height: 30px;
            color: whitesmoke;
        }
        p3 {
            text-indent: 2px;
            font-size: 16px;
            line-height: 30px;
            color: white;
        }
        .for-p3-size{
            border-radius:5%;
        }
        p4{
            text-indent:2px;
            font-size: 16px;
            line-height: 30px;
            color:black;
        }

        p2 {
            opacity: 0.8;
            color:white;
            font-size:18px;
           /*background-color: black;*/
        }
        
        img {
            position: relative;
            left: 20%;
            margin-left: -181px;
        }
        span {
            color: yellow;
            /*background-color:aqua*/
        }
        /*address{
            background:greenyellow;
        }*/
        table{
            border: 1px solid yellowgreen;
            border-collapse: collapse;
        }
        th{
            border: 1px solid yellowgreen;
            background:chocolate;
        }
        td {
            border: 1px solid yellow;
        }
        /*th2 {
            border: 1px solid yellowgreen;
        }*/
        strong{
            color:white
        }
        caption{
            padding: 10px;
            color:red;
        }
        /*fieldset{
            background-image: url("photo/1984.jpg")
        }*/
        p{
            font-family:'Trebuchet MS';
        }
        .for-p11-size{
            border-radius:10%;
            box-shadow:0 10px 20px, 0 10px 20px,rgb(85, 13, 13); 
        }
        .for-p16-size{
            border-radius:20px;
        }
        a{
            color: #F00;
            font-family:'Courier New', Courier, monospace;
        }
        @media screen and (min-width=5.99in){
            p{
                text-align:center;
            }
        }

        .for-p1{
            box-shadow:0 10px 20px, 0 10px 20px;
            border-radius:10%;
        }
        .transparent{
            opacity: 0.8;
        }